.SyncIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SyncIndicator > svg {
  height: 32px;
  animation: pulsing 2s ease-in infinite;
}

@keyframes pulsing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.05;
  }
  100% {
    opacity: 1;
  }
}
