.App {
  overflow: auto hidden;
  scroll-snap-type: x mandatory;
  height: 100vh;
  display: grid;
  grid-template-columns: 100% 100%;
}

.App > header {
  grid-column: 1 / -1;
  background: #fefefe;
  z-index: 10;
}

.App-main {
  scroll-snap-align: start;
  overflow-y: auto;
  padding: 1rem 0 50vh 0;
}

.App-aside {
  scroll-snap-align: end;
}

.MainView-AddLog {
  display: flex;
  place-items: center;
  place-content: center;
}

.MainView-AddLog > div {
  flex-basis: 360px;
}
