.Card {
  background: #fefefe;
  max-width: 400px;
  padding: 1rem;

  padding: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.1),
    0 2px 1px -1px rgba(0, 0, 0, 0.08);
}
