.TimeCard {
  background: #fefefe;
  max-width: 400px;
  padding: 1rem;

  padding: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.1),
    0 2px 1px -1px rgba(0, 0, 0, 0.08);
}

.TimeCard-confirm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.TimeCardForm {
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.TimeCard-Input label {
  display: block;
  font-size: 0.8em;
}
.TimeCard-Input-Flex {
  display: flex;
}
.TimeCard-Input-Flex input {
  flex: 1 1 100%;
}
