body {
  background: #e8eaed;
  color: #353553;
}

.shadow.standard {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.1),
    0 2px 1px -1px rgba(0, 0, 0, 0.08);
}

.flex--centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  text-align: center;
}
